<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/book/book_list.css' %}">
</head>
<body>
    <button type="button" onclick="location.href='http://127.0.0.1:8000/'">Main Page</button>
    <h1>List of Books</h1>
    <ul>
        {% for book in book  %}
            <div class="book-card">
                <img src="{{ MEDIA_URL }}{{ book.image.url }}" alt="image">
                <li>{{ book.title }}</li>
                <a class="see-more" href="/book/{{ book.id }}">See More</a>
            </div>

        {% endfor %}
    </ul>

    <div class="paginator-container">
        {% if book.has_previous %}
            <a class="paginator" href="?page={{ book.previous_page_number }}">Previous</a>
        {% endif %}
        <span class="paginator-text">Page {{ book.number }} of {{ book.paginator.num_pages }}.</span>
        {% if book.has_next %}
            <a class="paginator" href="?page={{ book.next_page_number }}">Next</a>
        {% endif %}
    </div>
</body>
</html>