<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book - {{ book.title }}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/book_detail.css' %}">
</head>
<body>
    <div class="book-detail">
        <img src="{{ MEDIA_URL }}{{ book.image.url }}" alt="image">
        <h1>{{ book.title }}</h1>
        <h2>Author: {{ book.author_name }}</h2>
        <p class="description">Embark on an extraordinary adventure within the pages of this remarkable book,
            brimming with an extensive {{ book.page_count }} pages.</p>
        <p class="description">Immerse yourself in its captivating narrative,
            exploring a diverse range of genres including {{ book.category }}.</p>
        <p class="description">Experience the wonder and excitement
            it offers, all for an unbeatable price of {{ book.price }} gel.</p>
    </div>
</body>
</html>