body{
    background-color: rgb(220, 220, 220);
    margin: 0;
    padding: 0;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

h1{
    color: #e41a13;
}

li{
    font-size: 20px;
    margin-top: 30px;
}

a{
    all:unset;
    cursor: pointer;
}

img{
    height: 200px;
    width: 300px;
}

.see-more{
    font-size: 20px;
    color: darkblue;
}

.book-card{
    border-radius: 15px;
    width: calc(25%);
    height: 350px;
    background-color: rgb(0, 128, 0);
    border: 1px solid black;
    padding-top: 20px;
}

.paginator-container{
    font-size: 20px;
    margin-top: 50px;
}

.paginator{
    color: blue;
}